html {
    background-color: #2C4251;
    color: white;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.break {
    height: 10px;
}

#card-space {
    position: relative;
    width: 100%;
    clear: both;
}

.side {
    border: 5px solid transparent;
    min-height: 110px;
    height: 30%;
    width: 50%;
    margin: 30px auto;
    background-color: #D16666;
    font-size: 20px;
    color: black;
}

.side div {
    font-size: 70px;
    text-align: center;
    color: black;
}

.side:hover {
    border: 5px solid white;
}

.button {
    color: white;
    padding: 15px 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: 5px solid transparent;
}

.button:hover {
    border: 5px solid white;
}

#next-card-button {
    background-color: #008CBA;
    margin: 0 auto;
    display: block;
}

#validation-buttons {
    margin: 20px auto 0;
    display: none;
}

#save-button {
    display: none;
}

#correct-button {
    padding: 5px 10px;
    background-color: #0a832d;
    margin-right: 20px;
}

#incorrect-button {
    padding: 5px 10px;
    background-color: #833c46;
}

